body {
  background-image: url('background\ option\ 1.jpg');
  background-size:100%;
  background-attachment: inherit;
  background-repeat: repeat;
}
.navbar{font-family: 'Fjalla One', sans-serif;
  font-size: x-large;
  
}
.display-4 {
  font-family: 'Oswald', sans-serif;
}


/* index html */
  .jumbotron {
margin-top: 175px;
  }


/* contact html */
  .container{
    height: auto;
    margin-top: 75px;
  }

.card-header{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
  
  }

  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 4px solid #C34C46; 
    border-radius: 15px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
  }


  /* Portfolio html */

  .container3{
    margin-left: 50px;
    margin-right: auto;
    margin-top: 25px
  }